
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>飞鸟带货列表</h3>
      </div>
    </div>
<main class="main-container" id="main-container">
    <section class="section-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" id="competition">
                    <form class="form-horizontal form-label-left" id="competition_add" method="post" enctype="multipart/form-data"  action="{:url('birds/insert')}"  >
                        <div class="panel-body">
                        <h4 class="caption">编辑飞鸟带货信息</h4>
                            <h5 class="page-header"></h5>
                            <div id="add-competition">
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">出发地国家</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                            <input type="text" class="form-control validate[required]" name="startpoint" value="{$birds['startpoint']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="startpoint" value="">
                                        {/if}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">出发地</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                            <input type="text" class="form-control validate[required]" name="start" value="{$birds['start']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="start" value="">
                                        {/if}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">出发时间</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                            <input type="text" class="form-control validate[required]" name="starttime" value="{$birds['starttime']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="starttime" value="">
                                        {/if}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">终点国家</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                            <input type="text" class="form-control validate[required]" name="endpoint" value="{$birds['endpoint']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="endpoint" value="">
                                        {/if}

                                    </div>
                                </div>
                     
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">终点</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                            <input type="text" class="form-control validate[required]" name="ends" value="{$birds['ends']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="ends" value="">
                                        {/if}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">终点时间</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                        <input type="hidden" name="id" value="{$birds['id']}">
                                            <input type="text" class="form-control validate[required]" name="endtime" value="{$birds['endtime']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="endtime" value="">
                                        {/if}

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">状态</label>
                                    <div class="col-sm-9">
                                {if condition="isset($birds)"}   
                                    {switch name="birds.state"}
                                        {case value="0"}
                                        <input type="radio" name="state"  value="0" checked>待出发
                                        <input type="radio" name="state" value="1">进行中
                                        <input type="radio" name="state" value="2">已完成
                                        {/case}
                                        {case value="1"}
                                        <input type="radio" name="state"  value="0" >待出发
                                        <input type="radio" name="state" value="1" checked>进行中
                                        <input type="radio" name="state" value="2">已完成
                                        {/case}
                                        {case value="2"}
                                        <input type="radio" name="state"  value="0" >待出发
                                        <input type="radio" name="state" value="1" >进行中
                                        <input type="radio" name="state" value="2" checked>已完成
                                        {/case}
                                        {default /}
                                        <input type="radio" name="state"  value="0" checked>待出发
                                        <input type="radio" name="state" value="1" >进行中
                                        <input type="radio" name="state" value="2" >已完成
                                    {/switch}
                                {else /}
                                        <input type="radio" name="state"  value="0" checked>待出发
                                        <input type="radio" name="state" value="1" >进行中
                                        <input type="radio" name="state" value="2" >已完成
                                {/if}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupInputLarge" class="col-sm-2 control-label">备注</label>
                                    <div class="col-sm-9">
                                        {if condition="isset($birds)"}    
                                            <input type="text" class="form-control validate[required]" name="desc" value="{$birds['desc']}">
                                        {else /}
                                            <input type="text" class="form-control validate[required]" name="desc" value="">
                                        {/if}

                                    </div>
                                </div>
                                
                                
                          
                            </div>
                        </div><!--panel-body-->
                        <div class="panel-footer">
                            <label class="col-sm-2 control-label"></label>
                            <input class="btn btn-danger btn-submit" type="submit" value="保存修改"/>
                        </div>
                        </form> 
                    </div> 
                </div>
            </div>
        </div>
    </section>

</main>
