<style type="text/css">
  .title_left{
/*color:#5c5c5c;*/
font-size: 24px;
font-family:'宋体';
}
.panel-title{
  color:#5c5c5c;
  font-family:'宋体';
}
</style>
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>用户评论列表</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
         
        </div>
      </div>
    </div>
<main class="main-container" id="main-container">

    <section class="section-header">
        <div class="container-fluid">
        
        </div>
    </section>

    <section class="section-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">用户评论列表</h3></div>
                        <div class="panel-body">
                            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"></table>
                            <input type="hidden" name="birdsid" class="birdsid" value="{$Think.get.id} ">

                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

<script>
var authorize = {
        removeData : 1
    };

$(function(){
$('#toolbar > button').on('click',function(){
  window.location.href = "{:url('comments/index')}";
});
  
var birdsid = $('.birdsid').val();

if(birdsid){
  var birds="{:url('comments/pages')}?id="+birdsid;
}


var app = {
      pageList     : birds,// 列表分页显示
      pageEdit     : "{:url('orders/index')}", // 相关订单页面
      pageAjax     : "{:url('comments/ajax')}",//在列表修改页面
      pageRemove   : "{:url('comments/delete')}",//在列表删除页面

    // pagingType   : 'server', //分页方式 server | client {server : {"total":24,"rows":[…]} | client : {"data":[...]}}
      pageSize     :  10,
      uniqueId     : 'cid',
      sortOrder    : 'desc',
      controlTable :  $('#datatable'),
      columns : [{
        field: 'cid',
        title: '编号',
        align: 'center',
        editable: false
      },{
        field: 'ctripnumbers',
        title: '行程编号',
        width: '240px',
        align: 'center',
        editable: false
      },{
        field: 'cordernumber',
        title: '订单编号',
        width: '240px',
        align: 'center',
        editable: false
      },{
        field: 'unickname',
        title: '微信昵称',
        width: '240px',
        align: 'center',
        formatter: operateunickname
      },{
        field: 'ccomment',
        title: '评论内容',
        width: '10%',
        align: 'center',
        editable: true
      },{
        field: 'cdateline',
        title: '创建时间',
        // width: '20%',
        align: 'center',
        // editable: false
        formatter: operatedateline
      },{
        field: 'cupdatetime',
        title: '修改时间',
        // width: '20%',
        align: 'center',
        formatter: operateupdatetime
        // editable: false
      },{
        field: 'coperate',
        title: '编辑',
        width: '300px',
        align: 'center',
        formatter: operateFormatter
      }]
      
  };
  
var oTable = new TableInit(app);
    oTable.Init();

var oButtonInit = new ButtonInit(app);
    oButtonInit.Init();
});
function operatedateline(value, row, index)
{
  return new Date(parseInt(row.cdateline) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');            
}

function operateupdatetime(value, row, index)
{
  return new Date(parseInt(row.cupdatetime) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');            
}

function operateunickname(value, row, index)
{
  var unickname;
  if(row.unickname!=null){
    var base64= row.unickname;
    var base = new Base64();
   unickname= base.decode(base64);

    // name = '<i>'+base+' </i>';
  }            
  return unickname;
}

</script>
<script type="text/javascript" src="ADMIN//base64.js"></script>
<script type="text/javascript" src="ADMIN/js/comments.js"></script>







