<style type="text/css">
h2>a{
color:#5c5c5c;
font-size: 24px;
font-family:'宋体';
}
.nav-left{
    padding-bottom: 5px;
}

</style>
<aside id="sidebar-menu" class="main_menu_side hidden-print main_menu">
 
  <div id="leftNav">
    
      <div id="leftNavMenu">
        <div class="nav-left">
            <p><a data-toggle="collapse" data-parent="#leftNavMenu" href="#collapseuser"><i class="fa fa-user fa-fw"></i>用户管理<span class="fa fa-chevron-down"></span></a></p>
            <div id="collapseuser" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item "><a href="{:url('user/index')}">用户列表</a></li>
                </ul>
            </div>
            <div class="nav-left">
            <p><a data-toggle="collapse" data-parent="#leftNavMenu" href="#collapsetripimg"><i class="fa fa-file-photo-o fa-fw"></i>行程图片列表<span class="fa fa-chevron-down"></span></a></p>
            <div id="collapsetripimg" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item "><a href="{:url('tripimg/index')}">行程图片列表</a></li>
                </ul>
            </div>
         </div>
         <div class="nav-left">
            <p><a data-toggle="collapse" data-parent="#leftNavMenu" href="#collapseresults"><i class="fa fa-file-photo-o fa-fw"></i>订单付款成功表<span class="fa fa-chevron-down"></span></a></p>
            <div id="collapseresults" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item "><a href="{:url('results/index')}">订单付款成功表</a></li>
                </ul>
            </div>
         </div>
         <!-- <div class="nav-left">
            <p><a data-toggle="collapse" data-parent="#leftNavMenu" href="#collapsebox"><i class="fa fa-inbox fa-fw"></i>物品列表<span class="fa fa-chevron-down"></span></a></p>
            <div id="collapsebox" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item "><a href="{:url('box/index')}">空间类型列表</a></li>
                  <li class="list-group-item "><a href="{:url('goods/index')}">物品列表</a></li>
                </ul>
            </div>
         </div> -->
         <div class="nav-left">
            <p><a data-toggle="collapse" data-parent="#leftNavMenu" href="#collapsebanner"><i class="fa fa-inbox fa-fw"></i>banner图<span class="fa fa-chevron-down"></span></a></p>
            <div id="collapsebanner" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item "><a href="{:url('banner/index')}">banner图</a></li>
                </ul>
            </div>
         </div>
         <div class="nav-left">
            <p><a data-toggle="collapse" data-parent="#leftNavMenu" href="#collapsebirds"><i class="fa fa-plane fa-fw"></i>飞鸟带货管理<span class="fa fa-chevron-down"></span></a></p>
            <div id="collapsebirds" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item "><a href="{:url('birds/index')}">飞鸟带货列表</a></li>

                </ul>
            </div>
         </div>
      
   

       
    </div>
    
</aside>